<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Kickz and Hitz! <%= user ? user.profile.name : "" %></h1>
  <h2><%= user ? "Use the Nav Bar links to navigate to Profiles, Kickz, and Hitz": "Login with Google to add to your Profile!" %> </h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %> 
</main>

<%- include('./partials/footer') %>
