<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Kickz and Hitz, <%= user ? user.profile.name : "Guest!" %></h1>
  <h3><%= user ? "Use the Nav Bar links to navigate to Profiles, Kickz, and Hitz!": "Login with Google to view profiles, or use nav bar to navigate to Kick, or Hitz!" %></h3>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %> 
</main>

<%- include('./partials/footer') %>
