<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<section>
  <p>Straight from the collection of <%= shoe.owner.name %>....</p>
  <h1><%= shoe.brand %> <%= shoe.name %> - <%= shoe.color %> </h1>
  <% if (shoe.owner.equals(user?.profile._id)) { %>
    <form action="/shoes/<%= shoe._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this 👟</button>
    </form>
    <form action="/shoes/<%= shoe._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete 👟</button>
    </form>
  <% } %>
</section>


<%- include('../partials/footer') %>