<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Directly from the heart of <%= hit.owner.name %></p>
  <h1><%= hit.name %> 🎵 </h1>
  <h2>This song makes me feel so <%= hit.emotion %> </h2>
</section>

<%- include('../partials/footer') %>